---
layout: default
---
<article>
    {% for post in site.posts %}
        {% if post.categories.first != 'study-notes' %}
            <section class="section">
                <div class="container">
                    <h1 class="title">
                        <a href="{{ post.url | prepend: site.url }}.html">
                            {{ post.title }}
                        </a>
                    </h1>
                    <h2 class="subtitle">{{ post.subtitle }}</h2>
                    <ul>
                        {% for category in post.categories %}
                        <li class="list-inline">
                            <span class="tag is-primary">
                                {{ category }}
                            </span>
                        </li>
                        {% endfor %}
                    </ul>
                    <p>{{ post.date | date: "%b %-d, %Y" }}</p>
                </div>
            </section>
        {% endif %}
    {% endfor %}
</article>
