<header>
    <nav class="navbar">
        <div class="navbar-brand">
            <a class="navbar-item" href="{{ site.url }}">{{ site.title }}</a>
        </div>

        <div class="navbar-menu">
            <div class="navbar-start"></div>
            <div class="navbar-end">
                <a class="navbar-item" href="{{ site.url }}">Home</a>
                <!--<li><a href="#">Projects</a></li>-->
                {% for page in site.pages %}
                    {% if page.title %}
                        <a class="navbar-item" href="{{ page.url | prepend: site.url }}">{{ page.title }}</a>
                    {% endif %}
                {% endfor %}
            </div>
        </div>

    </nav>
</header>
