<header>
    <nav>
        <div class="nav-wrapper cyan white-text">
            <a href="{{ site.baseurl }}" class="brand-logo center">{{ site.title }}</a>
            <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
            <ul id="nav-mobile" class="left hide-on-med-and-down">
                <li><a href="{{ site.baseurl }}">Home</a></li>
                <li><a href="#">DevLog</a></li>
                <li><a href="#">Projects</a></li>
                {% for page in site.pages %}
                    {% if page.title %}
                        <li><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></li>
                    {% endif %}
                {% endfor %}
            </ul>
            <ul class="side-nav" id="mobile-demo">
                <li><a href="{{ site.baseurl }}">Home</a></li>
                <li><a href="#">DevLog</a></li>
                <li><a href="#">Projects</a></li>
                {% for page in site.pages %}
                    {% if page.title %}
                        <li><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
    </nav>
</header>
