<head>
    <meta charset="utf-8">

    <!-- Assests -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1"/>
    <link rel="stylesheet" href="{{ site.url }}/css/bulma.css">
    <link rel="stylesheet" href="{{ site.url }}/css/index.css">
    <link rel="stylesheet" href="{{ site.url }}/css/header.css">
    <link rel="stylesheet" href="{{ site.url }}/css/footer.css">
    <link rel="icon" type="image/ico" href="{{ site.url }}/assets/img/icon.ico"/>

    <!-- Page -->
    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>

    <!-- SEO -->
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.url | prepend: site.url }}">
    <meta name="description" content="{{ site.description }}">
</head>
