/*
  Custom CSS
*/

body::before {
  background-size: cover;
  background-attachment: fixed;
  content: '';
  will-change: transform;
  z-index: -1;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  position: fixed;
}

@media (max-width: 512px) and (min-resolution: 1.5dppx),
(max-width: 1024px) and (max-resolution: 1.5dppx) {
  body::before {
    background-image: url('http://i.imgur.com/0uBLgIR.jpg');
  }
}

@media (min-width: 513px) and (max-width: 1024px) and (min-resolution: 1.5dppx),
(min-width: 1025px) and (max-width: 2048px) and (max-resolution: 1.5dppx) {
  body::before {
    background-image: url('http://i.imgur.com/0uBLgIR.jpg');
  }
}

@media (min-width: 1025px) and (min-resolution: 1.5dppx),
(min-width: 2049px) and (max-resolution: 1.5dppx) {
  body::before {
    background-image: url('http://i.imgur.com/0uBLgIR.jpg');
  }
}

.icons-list {
  li {
    width: 50px;
    height: 50px;
    display: inline-block;
    margin: 10px;
  }
}
.icons {
  pointer-events: none;
  display: block;
  width: 50px;
  height: 50px;
  fill: #FFFFFF;
}

.section-post {
  background-color: #FFFFFF;
  padding: 0px 20px;
}

img{
  width: 80%;
  display:block;
  margin: 0 auto;
}

blockquote {
  border-left: 5px solid #00BCD4;
}

pre{
  background-color: #000000;
  border-radius: 5px;
  padding: 10px;
  code{
    color: #FFFFFF;
  }
}