/*
  Custom CSS
*/
/*
  Font
*/
@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');

$geral-font: 'Source Code Pro', monospace;
* {
  font-family: $geral-font;
}

/*
   Helpers
 */
.line-separator {
  size: 80%;
}

/*
   Header
 */
header nav h1 a {
  text-decoration: none;
  font-size: 150%;
}

header nav ul.menu {
  font-size: 125%;
  list-style: none;
  li {
    display: inline-block;
  }
}

/*
  Post, Sections.
*/
section ul.categories-inline {
  text-decoration: none;
  li {
    display: inline-block;
  }
}

pre {
  background-color: #000000;
  border-radius: 5px;
  padding: 10px;
  code {
    color: #FFFFFF;
  }
}

/*
  Code Highlight
*/

pre.highlight {
  background: #000000;
}

/*
  Footer
*/
.icons-list {
  li {
    width: 30px;
    height: 30px;
    display: inline-block;
    margin: 5px;
  }
}

.icons {
  pointer-events: none;
  display: block;
  fill: #FFFFFF;
}
